

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color:#81d9b9 ;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }

  h2{
    text-align:center; 
    color:#7ed5b6;
  }

  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #04AA6D;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  input{
      margin-top: 20px;
      padding: 10px;
      width: 70%;
  }
  input:hover{
      border-color: #04AA6D;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    padding: 10px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card:hover .image {
    opacity: 0.6;
  }
  
  .card:hover .middle {
    opacity: 1;
  }


  .image{
    width:100%; height: 50%;
  }
 